<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.javaone.mapper.UserMapper">

    <!-- 在此添加sql -->

<!--    List<User> selectUser(); 全查用户-->
    <select id="selectUser" resultType="User">
        select * from userinfo
    </select>

<!--    List<User> getUserByCondition(@Param("user") User user); 条件查用户-->
    <select id="getUserByCondition" resultType="User">
        select * from userinfo
        <where>
            <if test="user.uId != null and user.uId != ''">
                Uid = #{user.uId}
            </if>
            <if test="user.uName != null and user.uName != ''">
                and Uname = #{user.uName}
            </if>
            <if test="user.uPwd != null and user.uPwd != ''">
                and Upwd = #{user.uPwd}
            </if>
            <if test="user.uEmail != null and user.uEmail != ''">
                and Uemail = #{user.uEmail}
            </if>
        </where>
    </select>

<!--    int insertUser(@Param("user") User user);  添加用户-->
    <insert id="insertUser">
        insert into userinfo values (#{user.uId},#{user.uName}, #{user.uPwd}, #{user.uEmail})
    </insert>

<!--    int deleteUser(@Param("uid") Integer id);  删除用户-->
    <delete id="deleteUser">
        delete from userinfo where Uid = #{uid}
    </delete>

<!--    int updateUser(@Param("user") User user); 修改用户-->
    <update id="updateUser">
        update userinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="user.uName != null and user.uName != ''">
                Uname = #{user.uName},
            </if>
            <if test="user.uPwd != null and user.uPwd != ''">
                Upwd = #{user.uPwd},
            </if>
            <if test="user.uEmail != null and user.uEmail != ''">
                Uemail = #{user.uEmail}
            </if>
        </trim>
        where Uid = #{user.uId}
    </update>
</mapper>