<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    引入properties文件-->
    <properties resource="jdbc.properties"/>

    <!--    设置resultType别名，且不区分大小写-->
    <typeAliases>
        <package name="com.javaone.pojo"/>
    </typeAliases>

    <!--    引入映射文件-->
    <mappers>
        <package name="com/javaone/mapper"/>
    </mappers>
</configuration>